test:
    image: python:3.12-slim
    script:
        - python3 -m ebpfcat.ebpf_test -v Tests

docs:
    image: sphinxdoc/sphinx
    pages: True
    artifacts:
      paths:
        - public
    script:
        - apt-get update
        - apt-get install -y openssh-client
        - pip3 install . --user
        - sphinx-build -b html -d _build/doctrees . public
